body{
  margin: 0;
}

#interface {
  width: 100%;
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
  background-color: #111;
  color: white !important;
  position: fixed;
}

#interface div{
  overflow: visible;
  display: inline-block;
  position: relative;
  bottom: 5px;
}

#audio-file {
  z-index: 11;
}

audio {
  width: 80%;
  z-index: 11;
  position: relative;
}

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}